@media screen and (max-width: 1015px) {
    .offer_list-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px){

    /* .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 12px;
        width: 300px;
    } */

    .offer_list-item {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 960px) {

    #btn-mobile {
        display: block;
        position: absolute;
        z-index: 100;
        border: none;
        padding: 10px;
        background-color: transparent;
        color: #fff;
    }
    
    #menu {
        display: block;
        position: absolute;
        transition: .6s;
        margin-top: 0;
        margin-left: 10px;
        z-index: 99;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #sidebar.active #menu {
        height: auto;
        visibility: visible;
        overflow-y: auto;
    }

    /* #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background-color: #e7e7e7;
        transition: .6s;
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    #sidebar.active #menu {
        visibility: visible;
        overflow-y: auto;
    }*/

    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor; /*Usado para pegar a cor da parte principal que no caso é a cor do A no #hamburger neste momento padrão #000*/
        margin-top: 5px;
        transition: .3s;
        position: relative;
    } 
    
    #sidebar.active #hamburger {
        border-top-color: transparent;
    }
    
    #sidebar.active #hamburger::before {
        transform: rotate(135deg);
    }
    
    #sidebar.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    /*.main_container {
        max-width: 80vw;
        height: 100vh;
        margin-left: 70px;
        margin-right: 56px;
    } */ 

}

