:root{
    /* Variaveis de fontes*/

    --font-dm-sans: "DM Sans", sans-serif;
}

:root{
    /* Variaveis de cores */

    --background-principal: #000;
    --background-sidebar: #202020;
    --color-letras-principais: #979797;
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0, 0, 7, 0);
}
